@font-face {
	font-family: 'Graphik';
	src: url('/fonts/Graphik-Bold.woff2') format('woff2');
	font-weight: 700;
}
@font-face {
	font-family: 'Graphik';
	src: url('/fonts/Graphik-Regular.woff2') format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
	font-weight: 700;
}
@font-face {
	font-family: 'NunitoSans';
	src: url('/fonts/NunitoSans-Bold.woff2') format('woff2');
	font-weight: 700;
}
@font-face {
	font-family: 'NunitoSans';
	src: url('/fonts/NunitoSans-ExtraBold.woff2') format('woff2');
	font-weight: 800;
}
@font-face {
	font-family: 'NunitoSans';
	src: url('/fonts/NunitoSans-Regular.woff2') format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'NunitoSans';
	src: url('/fonts/NunitoSans-SemiBold.woff2') format('woff2');
	font-weight: 600;
}
